<h4>顧客情報一覧</h4>
<%= link_to "新規顧客登録ボタン＋", new_public_customer_path %>
<table class="table">
  <thead>
    <tr>
  　　<th>ID</th>
  　　<th>氏名</th>
  　　<th>連絡先</th>
  　　<th></th>
  　　<th></th>
  　　<th></th>
  　　<th></th>
  　</tr>
  </thead>    
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
    　　<td>
    　　    <%= link_to public_customer_path(customer.id) do %>
            <%= customer.full_name %>
          <% end %>
        </td>
    　　<td><%= customer.phone_number %></td>
        <td><%= link_to "注文", new_public_cart_path(customer.id), class: "btn btn-success" %></td>
        <td><%= link_to "配送先一覧へ", public_delivery_path(customer.id), class: "btn btn-info" %></td>
        <td><%= link_to "編集", edit_public_customer_path(customer.id), class: "btn btn-warning" %></td>
        <td><%= link_to "削除", public_customer_path(customer.id), method: :delete, "data-confirm" => "#{customer.full_name}を削除します。よろしいでしょうか？",class: "btn btn-danger" %></td>
    　</tr>
    <% end %>
  </tbody>  
</table>