<h4>品種一覧</h4>
<%= link_to "品種新規登録ボタン＋", new_public_jpear_path %>
<table class="table table-borderless">
  <tbody>
    <% @jpears.each do |jpear| %>
    <tr>
  　　<td>
  　   　<%= link_to public_jpear_path(jpear.id) do %>  
  　　      <%= image_tag jpear.get_image(100,100) %>
  　　    <% end %>
  　　  </td>
  　</tr>
  　<tr>
  　  <td><%= jpear.name %></td>
  　</tr>
  　<tr>
  　  <td><%= jpear.status %></td>
  　</tr>
  <% end %>　
  </tbody>
</table>  
