<h4>品種新規登録</h4>
<%= form_with model:@jpear, url: public_jpears_path, method: :post, local:true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <table class="table table-borderless">
    <tr>
      <td><%= f.label :image, "梨画像" %></td>
      <td><%= f.file_field :image %></td>
    </tr>  
    <tr>
      <td><%= f.label :name, "品種名" %></td>
      <td><%= f.text_field :name, autofocus: true %></td>
    </tr>
    <tr>
      <td><%= f.label :stutes, "販売状況" %></td>
      <td>
        <%= f.radio_button :status, "sold" %>
        <%= f.label :status, "販売停止中", class: "text-active" %>
        <%= f.radio_button :status, "sale" %>
        <%= f.label :status, "販売中", class: "text-invalid" %>
      </td>
    </tr>
    <td>
      <%= f.button :type => "submit", class: 'btn btn-warning' do %>
        <div><i class="fa-solid fa-circle-check"></i> 品種を追加する</div>
      <% end %>  
    </td>
  </table>
<% end %>
