<h4>品種詳細画面</h4>
<div class="row">
  <div class="col-5">
    <%= image_tag @jpear.get_image(200,200) %>
  </div>
  <div class="col-3">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><%= @jpear.name %></td>
        </tr>
        <tr>
          <td><%= @jpear.status %></td>
        </tr>
        <tr>
          <td><%= link_to "一覧画面へ戻る", public_jpears_path, class: "btn btn-outline-info btn-sm" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  

<!--product_typeの登録画面-->
<h5 class="mt-5 mb-3">販売商品　一覧・新規登録</h5>
<div class="pt_new">
  <%= form_with model:@product_type, url: public_product_types_path, local:true do |f| %>
  	<%= f.text_field :item_name, autofocus: true, :placeholder =>"販売商品名" %>
  	<%= f.text_field :tax_price, :placeholder =>"単価（税込）" %>円
  	<%= f.hidden_field :jpear_id, :value => @jpear.id %>
  	<%= f.submit "商品登録", class: "btn btn-warning" %>
  <% end %>
</div>  
<div class ="row">
  <div class="col-lg-6 offset-2 mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>販売商品名</th>
          <th>単価（税込）</th>
        </tr>
      </thead>
      <tbody>
        <% @product_types.each do |product_type| %>
          <tr>
            <td><%= product_type.id %></td>
            <td><%= product_type.item_name %></td>
            <td><%= product_type.tax_price %></td>
            <td><%= link_to "削除", public_product_type_path(product_type.id), method: :delete, "data-confirm" => "商品を削除します。よろしいでしょうか？",class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  