<h4>送り先一覧</h4>
<%= form_with model:@delivery, url: public_deliveries_path, method: :post, local:true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="row">
    <div class="col-9 offset-1 mt-5">
      <h4>送り先新規登録</h4>
      <table class="table table-borderless">
        <tr>
          <td><%= f.label :name, "氏名" %></td>
          <td><%= f.text_field :name, autofocus: true %></td>
        </tr>    
        <tr>
          <td><%= f.label :name_kana, "フリガナ" %></td>
          <td><%= f.text_field :name_kana %></td>
        </tr>
        <tr>
          <td><%= f.label :postcode, "郵便番号（ハイフンなし7桁）" %></td>
          <td><%= f.text_field :postcode %></td>
        </tr>  
        <tr>
          <td><%= f.label :address, "住所" %></td>
          <td><%= f.text_field :address %></td>
        </tr>  
        <tr>
          <td><%= f.label :phone_number, "連絡先電話番号" %></td>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <%= f.hidden_field :customer_id, :value => @customer.id %>
        <tr>  
          <td>
            <%= f.button :type => "submit", class: 'btn btn-success' do %>
              <div><i class="fa-solid fa-truck"></i> 新規登録 </div>
            <% end %>
          </td>
        </tr>
      </table>
     </div>
  </div>    
<% end %>

<div class="row">
  <div class="col-8 offset-1">  
    <table class="table">
      <thead>
        <tr>
      　　<th>氏名</th>
      　　<th>住所</th>
      　　<th>連絡先電話番号</th>
      　　<th></th>
      　</tr>
      </thead>    
      <tbody>
        <% @deliveries.each do |delivery| %>
          <tr>
        　　<td>
        　　    <%#= link_to public_customer_path(customer.id) do %>
                <%= delivery.name %>
              <%#end %>
            </td>
        　　<td>
        　　    <%= delivery.postcode %><br>
        　　    <%= delivery.address %> 
        　   </td>
        　   <td><%= delivery.phone_number %></td>
            <td class="btn btn-warning">
              <%= link_to edit_public_delivery_path(delivery.id) do %>
                <i class="fa-regular fa-pen-to-square"></i>
                編集
              <% end %>
            </td>
          </tr>
          <% customer_id = delivery.customer_id %>
        <% end %>  
      </tbody>  
    </table>
  </div>
</div>    

<div class="btn btn-outline-info ml-3">
 <%= link_to public_customer_path(@customer.id) do %>
   <i class="fa-solid fa-arrow-rotate-left"></i>
   顧客情報へ戻る
 <% end %>
</div>