<h3>新規農園登録画面</h3>
<div class="row">
  <div class="col-8 offset-1 mt-5">
    <%= form_with( model: @farmer, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: @farmer %>
      <table class="table">
          <tbody>
            <tr>
              <th><%= f.label :farmer_name, "農園名" %> </th>
              <td><%= f.text_field :farmer_name, autofocus: true, :placeholder =>"坂本梨園" %></td>
            </tr>
            <tr>
              <th><%= f.label :name, "代表者氏名" %></th>
              <td><%= f.text_field :name, :placeholder =>"坂本太郎" %></td>
            </tr>
            <tr>
              <th><%= f.label :name_kana, "フリガナ" %></th>
              <td><%= f.text_field :name_kana, :placeholder =>"サカモトタロウ" %></td>
            </tr>
            <tr>
              <th><%= f.label :email, "メールアドレス" %></th>
              <td><%= f.email_field :email, autocomplete: "email", :placeholder =>"aaa@bbb.com" %></td>
            </tr>
            <tr>
              <th><%= f.label :postcode, "郵便番号(ハイフンなし7桁)" %></th>
              <td><%= f.text_field :postcode, :placeholder =>"1112222" %></td>
            </tr>
            <tr>
              <th><%= f.label :address, "住所" %></th>
              <td><%= f.text_field :address, :placeholder =>"東京都新宿区○○○" %></td>
            </tr>
            <tr>
              <th><%= f.label :phone_number, "連絡先電話番号(ハイフンなし)" %></th>
              <td><%= f.text_field :phone_number, :placeholder =>"00011112222" %></td>
            </tr>
            <tr>
              <th><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></th>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>
            <tr>
              <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>
            <tr>
              <th></th>
              <td>
                <%= f.button :type => "submit", class: 'btn btn-success mt-3' do %>
                  <div><i class="fa-solid fa-apple-whole"></i>　新規登録！＋　</div>
                <% end %>  
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
  　<h4>既に登録済みの方</h4>
    <p><%= link_to "こちら", new_farmer_session_path %>からログインしてください。</p>
  </div>
</div>