<h2>新規農園登録</h2>

<%= form_with( model: @farmer, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: @farmer %>
  <table>
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><%= f.label :farmer_name, "農園名" %> </td>
          <td><%= f.text_field :farmer_name, autofocus: true, :placeholder =>"坂本梨園" %></td>
        </tr>
        <tr>
          <td><%= f.label :name, "代表者氏名" %></td>
          <td><%= f.text_field :name, :placeholder =>"坂本太郎" %></td>
        </tr>
        <tr>
          <td><%= f.label :name_kana, "フリガナ" %></td>
          <td><%= f.text_field :name_kana, :placeholder =>"サカモトタロウ" %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autocomplete: "email", :placeholder =>"aaa@bbb.com" %></td>
        </tr>
        <tr>
          <td><%= f.label :postcode, "郵便番号(ハイフンなし7桁)" %></td>
          <td><%= f.text_field :postcode, :placeholder =>"1112222" %></td>
        </tr>
        <tr>
          <td><%= f.label :address, "住所(郵便番号から自動入力)" %></td>
          <td><%= f.text_field :address, :placeholder =>"東京都新宿区○○○" %></td>
        </tr>
        <tr>
          <td><%= f.label :phone_number, "電話番号(ハイフンなし)" %></td>
          <td><%= f.text_field :phone_number, :placeholder =>"00011112222" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "新規登録" %></td>
        </tr>
      </tbody>
    </table>
<% end %>

 <h2 class="section-ttl">既に登録済みの方</h2>
  <p><%= link_to "こちら", new_farmer_session_path %>からログインしてください。</p>
</section>