<div class="listings">
  <div class="listings_channels">
    <h3 class="listings_header">管理システム</h3>
    <div class="channel_list">
      <div><i class="fa-solid fa-yen-sign"></i><%= link_to "　 注文履歴一覧", public_order_details_path %></div>
      <div><i class="fa-solid fa-users"></i><%= link_to "　顧客情報一覧", public_customers_path %></div>
      <div><i class="fa-solid fa-apple-whole"></i><%= link_to "　品種情報一覧", public_jpears_path %></div>
      <div><i class="fa-solid fa-calendar-days"></i><%= link_to "　カレンダー", public_customers_path %></div>
      <div><i class="fa-solid fa-cloud-sun"></i><%= link_to "　天気", public_customers_path %></div>
    </div>
  </div>
</div>